/*Css specific for home page */


body[data-page-id="262495"] .contact {
    width: 100%;
    margin: unset;
    flex-basis: unset;
    max-width: unset;
}

body[data-page-id="262495"] .hero {
  display: none;
}

body[data-page-id="262495"] .contact-wrap {
    padding-top: 75px;
    padding-right: 20px;
    padding-bottom: 75px;
    padding-left: 20px;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

body[data-page-id="262495"] .form label {
    color: var(--base-ultra-light) !important;
}

/* ==============
 START Home Hero Section settings
============== */


.home-hero {

    background-color: var(--base);
    text-align: center;

}

.home-hero__content-wrapper {
  padding: var(--section-l) !important;
  padding: var(--section-l-calc) !important;
  padding: var(--section-l-clamp) !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
}



.home-hero__content-heading {
    font-size: var(--text-xxl-calc);
    color: var(--base-ultra-light);
    font-weight: 700;
    text-transform: capitalize;
    max-width: 900px;
    margin-top: 15px;
    z-index: 10;
}

.home-hero__content-text {
    color: var(--base-ultra-light);
    width: var(--width-m);
    position: relative;
    z-index: 10;
}

.home-hero__content-subheading {
    color: var(--base-ultra-light);
    font-size: var(--text-m);
    font-weight: 500;
    text-transform: uppercase;
    z-index: 10;
}

.home-hero__btn {
    background-image: linear-gradient(90deg, var(--primary), var(--primary-dark) 50%, var(--primary) 100%);
    background-size: auto, auto;
    font-weight: 600;
    color: var(--base-light);
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 28px;
    padding-right: 28px;
    border-radius: var(--radius-s);
    transition-duration: .3s;
    transition-timing-function: ease-out;
    margin-top: 30px;
    background-position: 0% 0%;
    background-size: 200%;
    z-index: 10;
}

.home-hero__btn:hover {
    transition-duration: .3s;
    transition-timing-function: ease-in;
    background-position: 100% 50%;
    color: var(--secondary-ultra-light);
}

/* ==============
 END Home Hero Section settings
============== */


/* ==============
 START Shape divider
============== */



/* START styles for home, hero dividers */

#insertion_351670 {
  position: static !important;
}

.home-hero__divider-1 .shape-divider__shape {
    color: var(--base-medium-trans-20);
    z-index: 1;
}

.home-hero__divider-2 .shape-divider__shape {
    color: var(--primary-trans-40);
    z-index: 2;
}

.home-hero__divider-3 .shape-divider__shape {
    color: var(--primary-trans-60);
    z-index: 3;
}

.home-hero__divider-4 .shape-divider__shape {
    color: var(--primary);
    z-index: 4;
}


.shape-divider__shape>svg {
    min-width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;
    transform-origin: bottom center;
}

.home-hero__divider-1 .shape-divider__shape svg {
    height: 500px;
    width: 300%;
}

.home-hero__divider-2 .shape-divider__shape svg {
    height: 350px;
    width: 210%;
}

.home-hero__divider-3 .shape-divider__shape svg {
    height: 200px;
    width: 200%;
}

.home-hero__divider-4 .shape-divider__shape svg {
    height: 100px;
    width: 180%;
}

/* END styles for home, hero dividers */

.shape-divider__shape {
    /*general settings */
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1px;
    pointer-events: none;
}

/* ==============
 END Shape divider
============== */
