
/* Montserrat Extra Bold + Source Serif Pro */

.title,
h1,
h1 a,
h2,
h2 a,
h3,
h3 a,
h4,
h4 a,
h5,
h5 a,
h6,
h6 a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    color: var(--base);
} 

header .mainNav a {
    color: var(--base);
    text-transform: uppercase;
    font-size: var(--text-m);
    font-size: var(--text-m-calc);
    font-size: var(--text-m-clamp);
}

body,
p {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 400;
} 

*,
input,
textarea {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

input {
    margin-bottom: var(--space-s) !important;
}

textarea {
    margin-bottom: var(--space-xxl) !important;
}

.fields label {
    font-size: var(--text-m) !important;
}

/* ==========
HEADER overrides
============ */

.logo {
    padding: unset !important;
    max-width: 25rem;
    min-width: 18rem;
}

header {
    
}

.fa-2x {
    font-size: var(--text-xl-calc) !important;
}

.navPhone {
    display: none;
}

.mobile-menu {
    background: var(--shade-white);
}

.mobile-menu a,
.mobile-menu h3,
.mobile-menu .nav-toggle {
    color: var(--base);
}

.mobile-menu ul a {
    font-size: var(--text-m);
    font-size: var(--text-m-calc) !important;
}

.mobile-menu a:hover {
    color: var(--primary-hover);
}

.nav-toggle .fa-times:hover {
    color: var(--primary-hover) !important;
}

#siteCanvas .fa-bars {
    color: var(--base);
}

#siteCanvas .fa-bars:hover  {
    color: var(--primary-hover);
}

.lslide p a {
    background: var(--primary) !important;
}

.lslide p a:hover {
    background: var(--primary-hover) !important;
}

@media screen and (min-width: 62em) {

    .navPhone {
        display: block !important;
        margin-right: 2em;
        color: var(--shade-white);
        /*font-size: 1.25em;*/
        font-weight: 600;
    }

    .navPhone:hover {
        color: var(--primary-hover);
    }
}

header {
    /*! background: var(--base); */
    display:  flex !important;
    align-content: center;
    padding-left: var(--space-xs);
    padding-right: var(--space-xs);
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.nav-toggle {
    right: var(--space-xs) !important;
}

.mainNav a {
    color: var(--shade-white);
}

/* ==========
HEADER overrides END
============ */

/* ====================
Color Palette #21
==================== */

/* Red */

a,
label .required,
.social a {
    color: var(--primary);
}

.phone,
.button,
input[type="submit"] {
    background: var(--primary);
}

a.phone:hover {
    background: var(--primary-hover) !important;
    color: var(--shade-white);
}

/* Footer */

footer {
    background: var(--base);
    padding-left: var(--space-m-calc);
    padding-right: var(--space-m-calc);
}

.footer-wrap {
  margin: 0;
  max-width: unset !important;
}

/* Overlays */

.hero-overlay {
    background: #fff0 !important; /*override overlay color -- removing it */
    padding: 0 !important;
}

.full-space-overlay,
.contact-overlay {
    background: var(--base);
}

/* Misc */

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: var(--primary);
    text-decoration: none;
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
    color: var(--primary-hover);
    text-decoration: underline;
}

.home .contact .formTitle+p {
    color: var(--shade-white);
}

.social a:hover {
    color: #999;
}

/* ====================
Background Images
==================== */

.hero {
  padding: var(--section-l) !important;
  padding: var(--section-l-calc) !important;
  padding: var(--section-l-clamp) !important;
  background: linear-gradient(180deg, rgba(242,234,224,0.4) 0%, rgba(24,23,28,0.4)) 100%, url(https://s3.amazonaws.com/law-media/uploads/2850/172543/original/Stopcounterfeiting-happy-business.svg);
  background-size: cover;
  min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.full-space {
    background-image: url();
}

.home .contact {
    background-image: url();
}

/* ====================
Custom
==================== */

.hero {
  /*! background-position-y: var(--space-l); */
     /*! background-position-y: var(--space-l-calc); */
     /*! background-position-y: var(--space-l-clamp); */
  background-attachment: initial;
 
}



.phone::before {
    display: none;
}

@media screen and (min-width: 62em) {

    .shoutout {
        margin: 0 !important;
            padding: 0 !important;
        text-align: left;
    }
}

.shoutout {
margin: 0 !important;
            padding: 0 !important;
    text-align: left;
max-width: var(--width-l);
}

.shoutout h1, .shoutout p {
  color: var(--base);
  margin-bottom: var(--space-s-calc);
}

.shoutout h1 {
  font-size: calc(var(--text-xxl)*1.5);
      font-size: calc(var(--text-xxl-calc)*1.5);
      font-size: calc(var(--text-xxl-clamp)*1.5);
}

.shoutout p {
 font-size: var(--text-m);
     font-size: var(--text-m-calc);
     font-size: var(--text-m-clamp);
}

.scroller {
    display: none !important;
}

/* ===================================
SECTION STYLES
=================================== */

/* ====================
section-primary
==================== */

.section-primary {
    background: var(--primary);
    color: var(--shade-white);
    position: relative;
    z-index: 1;
}

@media screen and (min-width: 62em) {

    .section-primary {
   /*! padding: 12rem 1rem 20rem !important; */ /*I have a utility class for padding*/
    position: relative;
    }

    .section-primary .homebody-content {
        max-width: 736px;
    }

}

/* ====================
section-base
==================== */

.section-base {
    background: var(--base);
    color: var(--shade-white);
    position: relative;
    z-index: 1;
}

@media screen and (min-width: 62em) {

    .section-base {
   /*     padding: 12rem 1rem 20rem !important; */ /*I have a utility class for padding*/
    position: relative;
    }

    .section-base .homebody-content {
        max-width: 736px;
    }

}

/* ====================
section-light
==================== */

.section-light {
    background: var(--shade-white);
    color: var(--base);
    position: relative;
    z-index: 1;
}

@media screen and (min-width: 62em) {

    .section-light {
   /*     padding: 12rem 1rem 20rem !important; */ /*I have a utility class for padding*/
    position: relative;
    }

    .section-light .homebody-content {
        max-width: 736px;
    }

}


/* ====================
Homebody Section1
==================== */

.section1 {
    background: var(--base);
    text-align: center;
   /*! padding: 12rem 1rem 12rem !important; */ /*I have a utility class for padding*/
    position: relative;
    z-index: 1;
}

@media screen and (min-width: 62em) {

    .section1 {
   /*     padding: 12rem 1rem 20rem !important; */ /*I have a utility class for padding*/
    position: relative;
    }

    .section1 .homebody-content {
        /*! max-width: 736px; */
    }

}

/* ====================
Homebody what-we-do
==================== */

.what-we-do {
    text-align: left;
    position: relative;
    z-index: 1;
}

@media screen and (min-width: 62em) {

    .what-we-do {
   /*! padding: 12rem 1rem 20rem !important; */ /*I have a utility class for padding*/
    /*! position: relative; */
    }

    .what-we-do .homebody-content {
        max-width: 736px;
    }
    
    .what-we-do h2 {
        margin-bottom: 1rem;
    }

    .what-we-do p {
        font-weight: 300;
    }
}

/* SVG background */

#insertion_333759 {
    position: absolute;
    bottom: -10px;
    left: 0;
    z-index: -1;
    width: 100%;
    background: transparent;
    margin-bottom: 0;
}

.section1 h2 {
}

.section1 h2 span {
    font-family: 'Montserrat', sans-serif !important;
}

.section1 h2,
.section1 p {
    color: var(--shade-white);
}

div[class*="c-card"] p, 
div[class*="c-card"] h3 {
    color: var(--base);
    text-align: left;
}

div[class*="c-card"] p {
  font-size: var(--text-m);
  font-size: var(--text-m-calc);
  font-size: var(--text-m-clamp);
}

div[class*="c-card"] h3 {
    margin-top: : var(--space-xs);
    margin-top: var(--space-xs-calc);
    margin-bottom: var(--space-xs);
    margin-bottom: var(--space-xs-calc);
    font-size: var(--text-l-calc);
    font-weight: 600;
}


.section1 .customBtn1 {
    background: var(--primary);
    color: var(--secondary);
    margin: 1em;
    padding: 1em;
    text-align: center;
    width: 200px;
}


.phone,
input[type="submit"] {
    margin: 0 auto;
    width: auto;
    font-size: var(--text-m);
    border-radius: 0;
}

.section1 .buttons {
    text-align: center;
    justify-content: center !important;
    margin-top: 2em;
}

.buttons input[type="submit"]:hover {
    background: var(--primary-hover);
}

.section1 .customBtn2 {
    background: var(--secondary);
    color: var(--base);
    margin: 1em;
    padding: 1em;
    text-align: center;
    width: 200px;
}

.section1 .customBtn1:hover {
    background: var(--primary-hover) !important;
    color: var(--secondary) !important;
    text-decoration: none;
}

.section1 .customBtn2:hover {
    background: var(--secondary-hover) !important;
    color: var(--base) !important;
    text-decoration: none;
}

/* ====================
Homebody Section2
==================== */

.section2 {
    background: var(--primary);
    text-align: center;
}

.section2 h2 {
    font-size: 2em;
}

.section2 h2,
.section2 p {
    color: var(--shade-white);
}

@media screen and (min-width: 62em) {

    .videowrap {
        max-width: 40%;
        margin: 1em auto;
    }
}


.video-responsive {
    overflow: hidden;
    padding-top: 56.25%;
    position: relative;
    height: 0;
}

.video-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}


/* Scrolling Recommendations */

.full-space {
    display: none;
}

.home .primary {
    padding: 0;
}

/* 
Recommendation slider
*/

.recommendations-slider .summary {
    display: block;
    font-size: var(--text-m);
    font-size: var(--text-m-calc);
    font-size: var(--text-m-clamp);
}

.recommendations-slider {
    /*! background-image: url(https://s3.amazonaws.com/law-media/layouts/110/assets/img/footer.jpg); */
    /*! background-position: center; */
    /*! background-repeat: no-repeat; */
    /*! background-size: cover; */
    /*! padding: 2.5rem 5%; */
    position: relative;
    z-index: 1;
    background: rgb(197,43,32);
background: linear-gradient(180deg, var(--primary) 0%, var(--base) 100%);
}

.recommendations-slider h2 {
    margin-bottom: 1rem;
    text-align: center;
    
}

.recommendations-slider:before {
    /*! background: var(--base); */
    /*! content: ''; */
    /*! height: 100%; */
    /*! left: 0; */
    /*! opacity: 1; */
    /*! position: absolute; */
    /*! top: 0; */
    /*! width: 100%; */
    z-index: 0;
}

.recommendations-slider ul[class="lightSlider lSSlide"]{
    height: 100% !important;
}

.insertion.widget h4 {
    font-size: var(--text-xl);
        font-size: var(--text-xl-calc);
        font-size: var(--text-xl-clamp);
    font-weight: 700;
}

.recommendations-slider .insertion.widget {
    background: transparent;
    margin-bottom: 0;
    text-align: center;
}

.recommendations-slider .insertion.widget h4 {
    background: none;
    color: var(--shade-white);
    display: block;
}

.recommendations-slider .widget.recommendations ul li {
    border: none;
    margin: 0;
    padding: 0 2%;
}

.recommendations-slider .widget.recommendations ul li h5 {
    font-size: var(--text-m-calc) !important;
}

.recommendations-slider .widget.recommendations ul li h5 a {
    color: var(--shade-white);
}

.recommendations-slider .widget.recommendations ul li h5 a:hover {
    color: #999;
}

.recommendations-slider .widget.recommendations ul li p {
    color: var(--shade-white);
}

.recommendations-slider .widget.recommendations ul li p a {
    background: #c01818;
    color: var(--shade-white);
    display: inline-block;
    font-size: var(--text-m);
    margin-top: 1.5em;
    padding: 1em;
    transition: .2s background;
    font-size: var(--text-m-calc);
}

.recommendations-slider .widget.recommendations ul li p a:hover {
    color: var(--shade-white);
    background: #999;
}

.lSAction>.lSPrev {
    left: 0;
}

.lSAction>.lSNext {
    right: 0;
}

.main {
    /*! padding: 2.5em 5%; */
}

@media screen and (min-width: 62em) {

    .home .primary {
        padding: 0;
    }

    .home .primary .content {
        max-width: none;
    }

    .recommendations-slider {
        /*! padding: 8em 1em; */
    }

    .recommendations-slider .widget.recommendations ul li h5 {
        font-size: 1.75rem;
    }

    .main {
        /*! padding: 6em 1em; */
    }

    .main-content {
        /*! margin: 0 auto; */
        /*! max-width: 62em; */
    }

}

/* ====================
MTA
==================== */

.home .primary .content {
    max-width: none;
    margin: 0 auto;
}

.home .primary {
    padding: 0;
}

.home .primary-wrapper {
    padding: 6em 1em;
    max-width: 1200px;
    margin: 0 auto;
}

.meetAttorney {
    text-align: center;
    /*! background: var(--secondary); */
    /*! padding: 3em; */
}

.meetAttorney-wrap h2 {
    font-size: var(--text-xl);
    --text-size: var(--text-xl);
    font-size: var(--text-xl-calc);
    --text-size: var(--text-xl-calc);
    font-size: var(--text-xl-clamp);
    margin-bottom: 0;
}

.meetAttorney-wrap h2:after {
    background: var(--shade-white);
    content: '';
    display: block;
    height: 2px;
    margin: 1em auto;
    width: 55px;
}

.partner {
    margin: 6em auto 0;
    max-width: 600px;
}

.partner-wrap img {
    left: 0;
    margin: -60px auto 0;
    position: absolute;
    right: 0;
    width: 120px;
    z-index: 999;
}

.partner-content {
    background: var(--shade-white);
    border: 1px solid #ececec;
    padding: 5em 2em 2em;
}

.partner h3 {
    font-family: 'Raleway', sans-serif !important;
    font-size: 1.125em;
    font-weight: 800;
    letter-spacing: 1px;
}

.button {
    background: var(--primary);
    color: var(--shade-white);
    display: inline-block;
    font-size: var(--text-m);
    font-weight: 400;
    margin-top: 2rem;
    text-transform: none;
    border-radius: 0;
    font-size: var(--text-m-calc);
    padding: var(--space-s-calc) var(--space-m-calc) var(--space-s-calc) var(--space-m-calc);
}

.button:hover {
    color: var(--shade-white);
    background: var(--primary-hover);
}

@media screen and (min-width: 62em) {

    .meetAttorney-wrap {
        /*! padding: 6em 1em; */
    }

    .meetAttorney-wrap {
        /*! display: block; */
        /*! margin: 0 auto; */
        /*! max-width: 62em; */
    }

    .meetAttorney-wrap h2 {
        /*! font-size: 2.5em; */
    }

    .meetAttorney-wrap h2:after {
        width: 75px;
    }

    .partners-wrap {
        display: flex;
    }

    .partner-wrap {
        flex-basis: 50%;
        position: static;
        z-index: 1;
    }

    .partner-wrap:first-of-type {
        padding-right: 2em;
    }

    .partner-wrap:last-of-type {
        padding-left: 2em;
    }

    .partner-wrap img {
        margin: -25px auto;
        position: static;
        width: 180px;
        filter: brightness(28%) saturate(2);
    }

    .partner {
        margin: -50px 0 auto;
        z-index: -1;
    }

    .partner-content {
        padding: 6em 2em 2em;
    }

}

.practice-areas {
    display: none;
}

input[type=checkbox] {
    width: 2% !important;
    height: 12px !important;
}

.cta-link {
    background: var(--primary);
    bottom: 16px;
    color: var(--shade-white);
    display: block;
    padding: 14px 24px;
    position: fixed;
    right: 16px;
    z-index: 110;
    font-size: var(--text-m-calc);
}

.cta-link:hover {
    background: var(--primary-hover);
    color: var(--shade-white);
}

/* Spaces section */

.spaces {
    background: var(--base);
    color: var(--shade-white);
    padding-left: var(--space-m-calc);
    padding-right: var(--space-m-calc);
    justify-content: space-between;
}

.spaces h1, .spaces h2, .spaces h3, .spaces h4, .spaces h5, .spaces h6, .spaces p {
  color: var(--shade-white);
}

.space h3 {
    font-size: var(--text-xl);
}

.space p {
    font-size: var(--text-m);
    font-size: var(--text-m-calc);
}

.spaces-wrap {
  display: flex;
  justify-content: space-between;
  margin: unset !important;
  max-width: unset !important;
}

/* Footer */

.footer-nav a,
.copyright p,
.group-disclaimer ul li a {
    color: var(--shade-white);
    font-size: var(--text-m);
    font-size: var(--text-m-calc);
}

@media screen and (min-width: 62em) {
    .mainNav {
        flex-basis: 75%;
    }
}

/*------------------------------*/
/*--Stats & Numbers----------------*/
/*------------------------------*/
.block-35 {
    --block-background: white;
    --block-text-color: var(--text-primary);
    background: var(--block-background);
    color: var(--block-text-color)
}

.stats__li {
    width: 70%;
    margin: auto;
    border-bottom: 1px solid var(--primary);
    padding: 1.5rem 0 !important;
    list-style-type: none;
}


.stats__li:last-child {
    border-bottom: none
}

@media(min-width:576px) {
    .stats__li {
        width: 100%;
        border-right: 1px solid var(--primary);
        padding: 1.5rem 0 !important;
        list-style-type: none;
    }

    .stats__li:nth-child(3),
    .stats__li:nth-child(4) {
        border-bottom: none
    }

    .stats__li:nth-child(even) {
        border-right: none
    }
}

@media(min-width:992px) {
    .stats__li {
        border-bottom: none;
        border-right: none !important;
        list-style-type: none;
    }



    .stats__li::after {
        content: '';
        display: inline-block;
        height: 51%;
        border-right: 1px solid #eee;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto
    }
}

.stats__number {
    color: var(--primary);
    font-size: 4.3rem;
    font-weight: 600
}

.stats__text {
    font-size: .87rem;
    opacity: .9
}

/* Shape divider color*/

#wave-1 {
fill: var(--primary);
}
#wave-2 {
fill: var(--primary);
    opacity:0.6;
}

/* mainNav OVERRIDES */

/* fixes the padding of navbar*/
@media screen and (min-width:62em) {

    .mainNav > ul > li:last-of-type {
        margin-right: 0 !important;
    }
    
     .mainNav>ul>li>a {
  padding:0 !important;
 }
    
    .mainNav > ul > li {
        margin-right: var(--space-m-calc) !important;
}

}

/* ===========
START subpages overrides
=========== */

.primary-wrap {
    max-width: unset!important;
}

body[data-page-id="262497"] .primary-wrap {
  display: grid; 
  grid-template-columns: 2.5fr 1fr; 
  gap: 0px var(--space-m-calc);
    padding: var(--space-m-calc);
}

@media (max-width:992px) {
  body[data-page-id="262497"] .primary-wrap {
      display: grid; 
      grid-template-columns: 1fr; 
      gap: 0px var(--space-m-calc); 
    }
}

.primary-wrap .contact {
    max-width: var(--width-s);
    margin: auto;
    padding-left: unset !important;
}

.subpage-title {
    margin: 0 !important;
    max-width: var(--width-m);
    text-align: left;
}


.subpage-title h1 {
    color: var(--base);
}

.primary {
    
    padding: 0;
    
    --block-background: var(--shade-white);
    --block-text-color: var(--text-primary);
    background: var(--base);
    color: var(--block-text-color);
    padding-top: var(--space-between-blocks);
    padding-bottom: var(--space-between-blocks);
}

.content {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  max-width: unset!important;
}

@media (min-width:576px) {
  .content {
    max-width: 540px
  }
}

@media (min-width:768px) {
  .content {
    max-width: 720px
  }
}

@media (min-width:992px) {
  .content {
    max-width: 960px
  }
}

@media (min-width:1200px) {
  .content {
    max-width: 1140px
  }
}

@media screen and (min-width:62em) {
 .primary .content .blog_posts article .cover {
  float:left;
  margin-right:1.5rem
 }
 .primary .content .blog_posts article .float_entry {
  overflow: visible!important;
 }
}

@media print {

@page {
    size: a3
  }
 .content {
    min-width: 992px!important
  }

}


/* Blog post list container grid */
body[data-page-id="262497"] .blog_posts{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  gap: var(--space-m-calc); 
}

@media (max-width:992px) {
    body[data-page-id="262497"] .blog_posts{
        display: grid; 
        grid-template-columns: 1fr 1fr; 
        gap: var(--space-m-calc); 
    }
}

@media (max-width:480px) {
    body[data-page-id="262497"] .blog_posts{
        display: grid; 
        grid-template-columns: 1fr; 
        gap: var(--space-m-calc); 
    }
}

/* giving article  class="col-lg-4 mb-4 mb-lg-0 post" properties */

.blog_posts article {
  /*col-md-6*/
  position: relative;
  width: 100%;
  /*! margin: var(--space-s-calc) !important; */
  border-radius: 10px;
    
  /* mb-4 */

  /*! margin-bottom: 1.5rem!important; */


  /* post */  
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  transition: .3s all;
    
    background: var(--shade-white);
  height: fit-content;
}

@media (min-width:992px) { 
  .blog_posts article {

    /* col-lg-4 */
    /*! -ms-flex: 0 0 33.333333%; */
    /*! flex: 0 0 fit-content; */
    /*! max-width: fit-content; */


  /* mb-lg-0 */
      /*! margin-bottom: unset !important; */
  }

}

/* giving .cover  class="post__img-container pb-1"  */

article .cover {
    
    /* Remove lawlytics settings */
    
    float: unset !important;
    margin-right: unset !important;
    width: 100% !important;
    
    /*pb-1*/
   padding-bottom: .25rem!important;
}

/* giving .cover imageContainer  class="post__img" properties */

.cover .imageContainer img {
  width: 100%;
  border-radius: 10px;
  filter: drop-shadow(0 10px 8px rgba(0, 0, 0, .1));
  transition: .5s;
  max-height: 25rem;
  object-fit: cover;
}

article:focus .cover .imageContainer img,
article:hover .cover .imageContainer img {
  transform: translateY(-5px)
}
    

/* give float entry  class="px-4 mt-4 text-center"  */

.float_entry {
    
    /* px-4 */
      padding-right: 1.5rem!important;
      padding-left: 1.5rem!important;
    
    /* mt-4 */
      margin-top: 1.5rem!important;
    
    /*text-center */
    
    text-align: center!important;
    overflow: visible!important;
}

/* give .float_entry h2  class="post__title mb-3" */

.float_entry h2 {
    
    /*post__title */
  font-size: var(--text-m-calc);
  font-weight: 600;
  line-height: 1.5;
      
        /* mb-3 */

  margin-bottom: 1rem!important;
}

article:focus .float_entry h2,
article:hover .float_entry h2 {
  text-decoration: underline
}


/* give .meta  class="post__info" */

.meta {
      opacity: .95;
  font-size: var(--text-s-calc);
  margin: 0
}

.summary {
    display: none;
 
}

.continue {
    /*! height: auto; */
    display: block;
    padding: var(--space-s-calc);
    width: 100%;
}

.continue a {
    /*! display:none; */
    transition: .5s;
    font-size: var(--text-s-calc);
    padding: var(--space-xs-calc);
    background-color: var(--primary);
    color: var(--shade-white);
}

article:focus .continue a,
article:hover .continue a {
    transition: .5s;
}

@media(max-width:992px){
    .space {
        max-width: var(--width-s);
    }
}

.widget #form_3605 label {
    color: var(--base);
}

.widget #form_3605 {
    width: 100% !important;
}

#form_3605 label {
    color: var(--shade-white);
}

#form_3605 {
   float: unset !important;
   margin: auto !important;
   width: 40%;
}


/* ===========
END subpages overrides
=========== */

