
/*START what we do block*/
  .what-we-do-block {
      margin-top: var(--space-xl);
      width: 100%;
      color: var(--shade-white);
  }

  .what-we-do-block {
      margin-top: var(--space-xl-calc);
      width: 100%;
  }

  .what-we-do-block:first-of-type {
      margin-top: 0px;
  }

  .what-we-do-block:not(.ct-section),
  .what-we-do-block.ct-section .ct-section-inner-wrap {
      display: grid !important;
      grid-template-columns: repeat(5, minmax(0px, 1fr));
      grid-template-rows: auto;
      grid-auto-columns: 1fr;
      grid-column-gap: var(--space-l);
      grid-row-gap: var(--space-l);
      grid-template-areas:
          ". . . . .";
  }

  .what-we-do-block:not(.ct-section)> :nth-child(1),
  .what-we-do-block.ct-section .ct-section-inner-wrap> :nth-child(1) {
      grid-column: span 3;
  }

  .what-we-do-block:not(.ct-section)> :last-child,
  .what-we-do-block.ct-section .ct-section-inner-wrap> :last-child {
      grid-column: span 2;
  }

  /*START Reverses the block every other block*/

      .what-we-do-block:nth-of-type(2n) .what-we-do-block__content-wrapper {
          order: -1;

      }

      @media (max-width:992px) {

          .what-we-do-block__image-wrapper {
              order: -1;
          }
      }

  /*END Reverses the block every other block*/

  .h--accent--lined:not(.ct-section) {
      display: flex;
      flex-direction: row;
      align-items: center;
  }

  .h--accent--lined {
      color: var(--shade-white);
      text-transform: uppercase;
      font-size: var(--text-s);
  }

  .h--accent--lined:not(.ct-section),
  .h--accent--lined.ct-section .ct-section-inner-wrap {
      display: flex;
      flex-direction: row;
      align-items: center;
  }

  .h--accent--lined::before {
      display: flex;
      width: 2em;
      background-color: var(--primary);
      height: 2px;
      margin-right: .75em;
      content: "";
  }

  .h--accent--lined::after {
      display: flex;
      width: 2em;
      height: 2px;
      background-color: var(--primary);
      margin-left: .75em;
      content: "";
  }

  .what-we-do__image {
      border-radius: var(--radius-m)
  }

  .what-we-do__heading {
      color: var(--base-ultra-light) !important;
      margin-top:var(--space-s-calc);
  }

  .what-we-do__text {
      margin-top: var(--space-m-calc);
  }

/*END what we do block*/
